html {
    background-image:url(images/1-big-viburnum.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top center;
}

.box {
    border:4px solid rgb(0, 128, 0);
    background-color:rgba(255, 255, 255, 0.75);
    padding: 5px;
}


