html {
    background-image:url(images/2-square-tile.gif);
    background-attachment:fixed;
    background-position:center center;
}

.wrapper {
    background-color: rgb(250, 196, 61);
    border: 6px solid rgb(244, 152, 13);
    padding: 8px;
}