html {
    background-color:rgb(250, 241, 218);
}

.wrapper {
    background-color:rgb(255, 255, 255);
}

.header {
    background-image:url(images/3-fruit.jpg);
    height:300px;

}

.site-id {
    text-align:center;
    background-color:rgba(255, 255, 255, 30%);
    border-top:8px solid rgb(151,6,6);
    padding:20px;
}

.aside {
    padding: 15px 10px;
}

.main {
    padding: 10px;
}