ul {
    margin:0;
}

.banner {
    background-image:url(images/4-uwm-hero.jpg);
    background-position:center bottom;
    background-repeat:no-repeat;
    padding-bottom:420px;
}

.colophon {
    background-color:gold;
    padding:15px;
}